# Client and Server Ports
REACT_APP_PORT_CLIENT=3000
REACT_APP_PORT_SERVER=3002

# URLs
REACT_APP_CLIENT_URL=http://localhost:3000
REACT_APP_SERVER_URL=http://localhost:3002
REACT_APP_IMAGE_URL=http://localhost:3002/uploads

# API Keys
REACT_APP_API_KEY_GOOGLE_BOOKS=your_google_books_api_key
REACT_APP_API_KEY_TMDB=your_tmdb_api_key
REACT_KEY_TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
REACT_APP_SPOTIFY_CLIENT_ID=your_spotify_client_id
REACT_APP_SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
REACT_APP_TINYMCE_KEY=your_tinymce_key
