$font_color_light: #f9f7f3;
$font_color_dark: #303841;
$background_color: #FFD54D;
$background_color_purple: #531A92;
$background_color_pink: #f5cac3;
$background_color_red: #bc4749;
$font_family: "Squada One", sans-serif;
$text_shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);

.header {
    position: relative;
    margin-bottom: 2rem;

}

.header_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* 宽度占满整个视口宽度 */
    height: 20vh; /* 高度为视口高度的20% */

}

.docker {
    position: absolute;
    top: 0.5%; // 根据需要调整，保持距离顶部的距离
    right: 7%; // 根据需要调整，保持距离右侧的距离
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10; // 确保菜单在最上层

}

.logo {
    position: absolute;
    top: 8%;
    left: 5%;
    color: $font_color_light;
    font-size: 3.5rem;
    z-index: 10;
    font-family: $font_family;
    font-weight: 400;
    font-style: normal;
    text-shadow: $text_shadow;
    cursor: pointer;
}


.logout_btn {
    position: absolute;
    top: 80%;
    right: 5%;
    width: 140px;
    height: 140px;
    border-radius: 60% 130% 90% 110%;
    padding: 5px 10px;
    background-color: $background_color_pink;
    color: $font_color_dark;
    font-size: large;
    text-shadow: 5px 5px 5px rgba(227, 120, 120, 0.5);
    font-weight: 700;
    border: none;
    cursor: pointer;
    z-index: 11; // 确保按钮在图片之上

}

.logout_btn:hover {
    background-color: $background_color_red ;
    color: $font_color_light;
    width: 150px;
    height: 150px;
    transition: background-color width height 0.5s ease, color 0.5s ease;
    font-size: large;
    font-weight: 800;
}

.input_group{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    border: 70px solid $background_color;
    border-radius: 400% 130% 250% 190%;
   
}


.select_area {
    flex: 0 0 30%; // 在大屏幕上占30%宽度，不伸缩
    @media (max-width: 768px) {
        flex: 0 0 50%; // 在小屏幕上占50%宽度，不伸缩
    }
}

.input_area {
    flex: 1; // 使输入框填充剩余空间
    width: 500px;
}

.search_btn {
    flex: 0 0 auto; // 按钮宽度自动调整
    padding: 5px 10px;
    background-color: $background_color_pink;
    color: $font_color_dark;
    font-weight: 600;
    border:none;
}
