
@import url("./LoginPage.css");
@import url("./button.css");
@import url("./profile.css");
@import url("./effects.css");



:root {
  --background-color: #f0f5f9;
  --background-color-login: #531A92;
  --background-color-register: #03045E;
  --background-color-auth: #FFD54D;


  --btn-register-submit:#393AB2;
  --btn-login-submit:#8E7BA2;

  --error-auth:#c44535;
  


  --background-color-1: #15172b;
  --background-color-2: #0d1b2a;
  --background-color-3: #1b263b;
  --background-color-4: #415a77;
  --background-color-5: #778da9;
  --background-color-6: #e0e1dd;


  --font-color: #303841;
  --title-color: #1e2022;
  --article-color: #303841;
  --username-color: #444f5a;
  --line-color: #c9d6df;
  --active-color: #bc4749;
  --inactive-color: #444f5a;
  --btn-color: #3f72af;

}

* {
  font-family: "Play", Geneva, sans-serif;
 
  line-height: 23px;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.container {
  margin: 20px 20px;
  margin: 0;
}

hr {
  border: 1px double var(--font-color);
  width: 50%;
  margin-right: 0;
}

/* ---------header---------- */
.header1{
  font-size: 24px; /* 设置字体大小 */
  font-weight: bold; /* 设置字体加粗 */
  background: linear-gradient(45deg, #007BFF, #4B0082); /* 定义一个从蓝色到深紫色的渐变 */
  -webkit-background-clip: text; /* 裁切背景到文字形状（WebKit内核特有） */
  background-clip: text;
  color: transparent; /* 将文字颜色设置为透明，以显示背景 */
  display: inline; /* 确保元素不会独占一行 */
}





