@import url('./LoginPage.css');
@import url('./MusicPage.css');
@import url('./profile.css');
@import url('./UserPage.css');
@import url('./BookPage.css');
@import url('./MoviePage.css');
@import url('./BlogPage.css');
@import url("./button.css");
@import url("./effects.css");
@import url('./menu.css');
@import url('./ProfilePage.css');
@import url('./HomePage.css');
@import url('./header.css');



:root {
  --background-color: #f0f5f9;

  /* login */
  --background-color-login: #531A92;
  --background-color-register: #03045E;
  --background-color-auth: #FFD54D;
  --background-color-input: #f0f5f9;

  /* card */
  --background-color-userCard: #FFD54D;
  --background-color-otherUserCard: #a3b18a;
  --card-font-color: #fdf0d5;
  --card-highlight: rgba(221, 223, 215, 0.914);
  --cardOut-color: #cdb4db;
  --user-font-color: #0d1b2a;

  /* btn */
  --btn-register-submit: #393AB2;
  --btn-login-submit: #8E7BA2;
  --username-color: #444f5a;
  --line-color: #c9d6df;
  --active-color: #bc4749;
  --inactive-color: #444f5a;
  --btn-color: #3f72af;
  --btn-edit:#0a9396;
  --btn-delete:#9b2226;

  /* warning */
  --error-auth: #c44535;


  /* other */
  --background-color-search: #FFD54D;
  --background-color-purple: #531A92;
  --background-color-pink: #f5cac3;
  --background-color-red: #bc4749;
  --background-color-blogForm:#598392;



  --background-color-1: #73877B;
  --background-color-2: #E5D1CF;
  --background-color-3: #FFF3B0;
  --background-color-4: #98C1D8;
  --background-color-5: #BDBBB7;
  --background-color-6: #457B9D;
  --background-color-7: #E09F3E;
  --background-color-white: #ffffff;

  /* font */
  --font-family: 'Squada One', sans-serif;
  --header-font-family:"Abril Fatface", serif;
  --homepage-font-family:"Abyssinica SIL", serif;
  --font-color: #303841;
  --font-color-light: #f9f7f3;
  --font-color-dark: #303841;
  --text-shadow: 8px 8px 5px rgba(95, 92, 92, 0.5);

/* bolgCard */
--blog-1:#dfdfdf;
--blog-2:#84a59d;

}

* {
  font-family: "Play", Geneva, sans-serif;
  line-height: 23px;
}


#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #1b263b9d, #1B263B);
}

.singlePage{
  padding-bottom: 200px;
  width: 100%;

}





.pageBody{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 50px 0px;
 
}

hr {
  border: 1px double var(--font-color);
  width: 50%;
  margin-right: 0;
}

a{
  color: var( --background-color-login);

}

/* ---------header---------- */
.header0{
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(45deg, var(--font-color-dark), black);
  margin-bottom: 100px;
  font-family: var(--header-font-family);
  background-clip: text;
  color: transparent;
  /* 将文字颜色设置为透明，以显示背景 */
  display: inline;
  /* 确保元素不会独占一行 */
}
.header1 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(45deg, var(--font-color-light), white);
  font-family: var(--header-font-family);

  -webkit-background-clip: text;
  /* 裁切背景到文字形状（WebKit内核特有） */
  background-clip: text;
  color: transparent;
  /* 将文字颜色设置为透明，以显示背景 */
  display: inline;
  /* 确保元素不会独占一行 */
}


/* 
background: repeating-linear-gradient(45deg, #ff0000, #ff0000 10px, #0000ff 10px, #0000ff 20px);

background: conic-gradient(from 0deg at 50% 50%, #ff0000, #0000ff);

background: radial-gradient(circle, #ff0000, #0000ff);

linear-gradient(90deg, red, yellow 50%, blue)

repeating-linear-gradient(45deg, red, red 10px, blue 10px, blue 20px)
*/