.hide {
    display: none;
}

.hidden {
    display: none;
    transition: 0.5s;
}

.click {
    cursor: pointer;
    border-bottom: 1px solid var(--background-color-5);
    width: fit-content;
    padding-bottom: 5px;
}


.small_font {
    font-size: x-small;
    margin-top: -20px;
}




/*-------------------------------error messages--------------------------------------*/
.message {
    color: var(--active-color);
}

#username_error,
#password_error,
#modify_password_error,
#verify_password_error {
    color: var(--active-color);
    margin-top: -20px;
    padding-left: 120px;
    font-weight: bolder;
    font-size: small;
}

/*--------------------------------------login------------------------------------------*/
.hide_iLabel {
    display: none;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}


.input:focus~.iLabel,
.input:not(:placeholder-shown)~.iLabel {
    display: flex;
    transform: translateY(-30px) translateX(10px) scale(0.75);
    color: lightgrey;
}


.input:focus,
.profile_container input:focus,
.profile_container textarea:focus {
    color: var(--btn-color);
    outline: none;
    border: 1px solid lightgrey;
    transition: 0.5s;
}

.input:not(focus)~.iLabel {
    color: #808097;
}

.submit:active {
    background-color: #06b;
}

.submit:disabled,
#confirm_btn:disabled {
    cursor: not-allowed;
    background-color: lightgrey;
    color: var(--btn-color);
}