.menuBar {
  
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -3.2rem;
    background: linear-gradient(to top, white, transparent);
 
    display: flex;
    justify-content: center;
    align-items: center;

}

.docker {
    margin-top: 40px;
    position: relative;
    height: 40px;
    width: 700px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: -2.5rem;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}




.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    scale: 1.5;
    justify-content: space-around;

}

.menu_item,
.gap {
    transition: all 0.1s ease;
    /* 平滑过渡效果 */
    width: calc(var(--i) * 20px);
    height: calc(var(--i) * 20px);
    /* 根据内容调整 */
    justify-content: center;
    margin-left: 3px;
}

.menu_item {
    padding: 4px 20px;
    width: calc(var(--i, 1) * 200px);
    height: calc(var(--i, 1) * 30px);
    font-family: var(--header-font-family);
    /* background: linear-gradient(to bottom, #6d6875, black); */
    background-color: transparent;
    color: var(--font-color-dark);
    font-size: 20px;
    margin-bottom: calc(var(--i, 1) * 50px - 15px);
    /* 根据缩放调整底部间距 */
    border-radius: 5px;
    transition: all 0.3s ease;
    /* 平滑变换效果 */
    text-transform: uppercase;
    /* 大写文本 */
    font-weight: 500;
   


}

.gap {
    width: calc(var(--i, 1) * 20px);
    height: 100px;
    /* 固定高度 */

}

.menu_item:hover {

    background: linear-gradient(to top, white, var( --background-color-auth));
    background: linear-gradient(to bottom, #6d6875, black); 
    color: var(--font-color-light);
    transition: background-color 0.5s ease;
    font-size: large;
    font-weight: 800;
}

.menu_item::after {
    background: linear-gradient(90deg, white, rgb(255, 250, 179), transparent);

}