.userProfilePage{
    font-size: 25px;
}

.uploadAvatar{
    background-color: rgba(255, 255, 255, 0.165);
    padding:30px;
    margin: 30px;
    border-radius: 20px;
   width: 80%;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.changePassword{
   margin: 10px 0px 10px 0px;
    border-radius: 20px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.165);
}

.changePassword label {
    margin:10px;
}

.form-control{
    font-size: 23px;
}
.userProfilePage input {
    width: 80%;
}

.userProfilePage textarea{
    width: 80%;
}

.expandBtn{
    width: fit-content;
    margin-left: -10px;
}

.userProfilePage label{
color: black;
margin-bottom: 5px;
margin-top: 20px;
}